<article id='{{article.slug}}'>
    <Hn n='{{headingLevel}}'>
        {{#if link}}
            {{#if article.numero && article.titre}}
                <a href='{{link}}'>{{{article.numero}}}</a><br>
                <small>{{{article.titre}}}</small>
            {{elseif article.numero}}
                <a href='{{link}}'>{{{article.numero}}}</a>
            {{else}}
                <a href='{{link}}'>{{{article.titre}}}</a>
            {{/if}}
        {{else}}
            {{#if article.numero && article.titre}}
                {{{article.numero}}}<br>
                <small>{{{article.titre}}}</small>
            {{elseif article.numero}}
                {{{article.numero}}}
            {{else}}
                {{{article.titre}}}
            {{/if}}
        {{/if}}
    </Hn>
    {{#if article.paragraphes}}
        {{#if typeof article.paragraphes === 'string'}}
            {{{article.paragraphes}}}
        {{else}}
            {{#each article.paragraphes as paragraphe}}
                {{{paragraphe}}}
            {{/each}}
        {{/if}}
    {{/if}}
</article>

<script>
	import Hn from './Hn.html';

	export default {
		components: {
			Hn
		}
	};
</script>
