{{#if n == 1}}
    <h1>
    	<slot></slot>
    </h1>
{{elseif n == 2}}
    <h2>
    	<slot></slot>
    </h2>
{{elseif n == 3}}
    <h3>
    	<slot></slot>
    </h3>
{{elseif n == 4}}
    <h4>
    	<slot></slot>
    </h4>
{{elseif n == 5}}
    <h5>
    	<slot></slot>
    </h5>
{{elseif n >= 6}}
    <h6>
    	<slot></slot>
    </h6>
{{/if}}
