<:Head>
	<title>Dossier législatif</title>
</:Head>

<Layout page='dossier'>
	<h1>Dossier législatif</h1>

	<ul>
		{{#each documents as document}}
			<li><a rel='prefetch' href='/{{document.type}}/{{document.slug}}'>{{document.titre}}</a></li>
		{{/each}}
	</ul>
</Layout>

<style>
	ul {
		margin: 0 0 1em 0;
		line-height: 1.5;
	}
</style>

<script>
	import Layout from '../_components/Layout.html';

	export default {
		components: {
			Layout
		},

		preload({ params, query }) {
			return fetch(`/api/documents`).then(r => r.json()).then(documents => {
				return { documents };
			});
		}
	};
</script>