<article>
    <Hn n='{{headingLevel}}'>
        {{#if link}}
            {{#if article.numero && article.titre}}
                <a href='{{link}}'>{{{article.numero}}}</a><br>
                <small>{{{article.titre}}}</small>
            {{elseif article.numero}}
                <a href='{{link}}'>{{{article.numero}}}</a>
            {{else}}
                <a href='{{link}}'>{{{article.titre}}}</a>
            {{/if}}
        {{else}}
            {{#if article.numero && article.titre}}
                {{{article.numero}}}<br>
                <small>{{{article.titre}}}</small>
            {{elseif article.numero}}
                {{{article.numero}}}
            {{else}}
                {{{article.titre}}}
            {{/if}}
        {{/if}}
        {{#if article.url_en_savoir_plus}}
            <small><a href='{{article.url_en_savoir_plus}}'>En savoir plus...</a></small>
        {{/if}}
    </Hn>
    {{#if article.historique}}
        <ul class='historique'>
            {{#each article.historique as changement}}
                <li class='changement'>
                    {{changement.type}} <a href='{{changement.url}}'>{{changement.titre}}</a>
                </li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if article.paragraphes}}
        {{#if typeof article.paragraphes === 'string'}}
            {{{article.paragraphes}}}
        {{else}}
            {{#each article.paragraphes as paragraphe}}
                {{{paragraphe}}}
            {{/each}}
        {{/if}}
    {{/if}}
</article>

<script>
	import Hn from '../../_components/Hn.html';

	export default {
		components: {
			Hn
		}
	};
</script>
