<section>
    <Hn n='{{headingLevel}}'>
        {{#if section.numero}}
            {{section.numero}}<br>
            <small>{{section.titre}}</small>
        {{else}}
            {{section.titre}}
        {{/if}}
    </Hn>
    {{#if section.index_articles}}
        <ul class='articles'>
            {{#each section.index_articles as index}}
                <li class='article'>
    				<Article article='{{document.articles[index]}}' document='{{document}}' headingLevel='{{headingLevel + 1}}' link='/{{document.type}}/{{document.slug}}/articles/{{document.articles[index].slug}}' />
                </li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if section.sections}}
        <ul class='sections'>
            {{#each section.sections as sous_section}}
                <li class='section'>
                    <:Self document='{{document}}' headingLevel='{{headingLevel + 1}}' section='{{sous_section}}' />
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>

<script>
	import Article from './Article.html';
	import Hn from '../../_components/Hn.html';

	export default {
		components: {
            Article,
			Hn
		}
	};
</script>
