<:Head>
	<title>{{document.titre}}</title>
</:Head>

<Layout page='dossier'>
	<h2>{{{document.organisme}}}</h2>
	<h2>{{{document.titre}}}</h2>
	<h1>{{{document.titre_court}}}</h1>
	<div class='considerants'>
		{{#each document.considerants as paragraphe}}
			{{{paragraphe}}}
		{{/each}}
	</div>
	<div class='introduction'>
		{{#each document.introduction as paragraphe}}
			{{{paragraphe}}}
		{{/each}}
	</div>
	<ul class='sections'>
		{{#each document.sections as section}}
			<li>
				<Section document='{{document}}' headingLevel='{{2}}' section='{{section}}' />
			</li>
		{{/each}}
	</ul>
	<div class='signature'>
		{{#each document.signature as paragraphe}}
			{{{paragraphe}}}
		{{/each}}
	</div>
</Layout>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}

	.content :global(pre) {
		background-color: #f9f9f9;
		box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
		padding: 0.5em;
		border-radius: 2px;
		overflow-x: auto;
	}

	.content :global(pre) :global(code) {
		background-color: transparent;
		padding: 0;
	}

	.content :global(ul) {
		line-height: 1.5;
	}

	.content :global(li) {
		margin: 0 0 0.5em 0;
	}
</style>

<script>
	import Layout from '../_components/Layout.html';
	import Section from '../_components/Section.html';

	export default {
		components: {
			Layout,
			Section
		},

		preload({ params, query }) {
			const { slug } = params;

			return fetch(`/api/documents/${slug}`).then(r => r.json()).then(document => {
				return { document };
			});
		}
	};
</script>